@{
    ViewData["Title"] = "Quoting Dojo";
}

@model Quote


<h1 class="display-4 text-center">Welcome to QuotingDojo</h1>
<form asp-action="Create" asp-controller="Home" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control">
        <span class="errMsg" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuoteDetail"></label>
        <textarea asp-for="QuoteDetail" class="form-control"></textarea>
        <span class="errMsg" asp-validation-for="QuoteDetail"></span>
    </div>
    <input type="submit" value="Add my quote!" class="btn btn-success" role="button">
    <a href="/quotes" class="btn btn-primary">Skip to quotes!</a>
</form>

