@{
    ViewData["Title"] = "Quotes";
}

<div>
    <h1 class="display-4 text-center">Here are the awesome quotes!</h1>
    @{
        foreach (var quote in ViewBag.QuoteList)
        {
            <div class="quote">
            <div class="row">
                <p>"@quote["quote"]"</p>
            </div>
            <div class="row text-center">
                <p>-@quote["name"] at @quote["created_at"]</p>
            </div>
        </div>
        }
    }
</div>